@tailwind base;
@tailwind components;
@tailwind utilities;

body,
#root {
    height: 100svh;
    width: 100svw;
    overflow: hidden;
}

* {
    /* color: white; */
    font-family: "Century Gothic", "Courier New", Courier, monospace;
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#toolbar {
    -webkit-app-region: drag;
}

a {
    cursor: pointer;
}
